/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  display: block;
  max-width: 100%;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  object-fit: cover;
}

.feedback-form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.email {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.input-email {
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
}

.message {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.input-message {
  display: flex;
  width: 360px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
  resize: none;
}

.button {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
}
